body {
	background: #777;
	width: 960px;
	border-top: 10px;
	margin: 10px auto 10px;
/* Part of assignment instructions but doesn't do anything? */
	content: #ebebeb;
}

header, nav, section, h1, p, aside, footer{
	background: #ccc;
	color: grey;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}

header, nav {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

section, aside {
	float: left;
	height: 300px;
	background: #ccc;
	margin-bottom: 20px;
	text-align: center;
}

section {
  	padding: 25px 10px 30px;
  	margin-right: 20px;
  	width: 60%;
}

aside {
  	padding: 50px 10px 5px;
  	width: 33.6%;
}

article {
	background: grey;
	color: #ccc;
 	text-align: center;
 	padding: 20px 0 30px;
}

h1, p {
	background: #ccc;
	color: grey;
	text-align: center;
	margin: 10px;
	padding: 10px;
}

/* Added to isolate and center text into section */
span {
	padding-bottom: 20px;
	display: block;
}
footer {
  clear: both;
  padding: 20px;
  text-align: center;
}